rm -rf public/learn
trap 'kill %1' SIGINT

export DATABASE_HOST=127.0.0.1
export DATABASE_PORT=3306
export DATABASE_NAME=database
export DATABASE_USER=root
export NODE_ENV=development

npm run server | tee server.log &
export API_URL=localhost:3000
npm run dev | tee client.log
