<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header class="main-header">This is a header<login-navigation></login-navigation></header>
        <div class="rows">
            <aside class="primary-sidebar">
                <lesson-navigation></lesson-navigation>
            </aside>
            <main class="content cols">
                <app></app>
            </main>
            <aside class="secondary-sidebar">

            </aside>
        </div>
        <footer class="main-footer">This is a footer</footer>
    </body>
</html>
